{% extends 'website/_base.html' %}
{% load static %}
{% load url from future %}

{% block bg_class %}plain_bg{%  endblock %}

{% block content %}

<div class="container-fluid">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="text-align: center">
					<img style="max-height: 100px;" src="{% static 'website/images/logo_text_only.jpg' %}" alt="Carousel Fitness" />
                </div>
            </div>


		<div class="col-sm-10 col-sm-offset-1">
			<div id="cf">
			  <img style="max-height: 320px;" src="{% static 'website/images/for_about_page/image4_edited.jpg' %}" alt="fade in image" />
			  <img style="max-height: 320px;"src="{% static 'website/images/for_about_page/image3_edited.jpg' %}" alt="fade in image" />
			  <img style="max-height: 320px;"src="{% static 'website/images/for_about_page/image2_edited.jpg' %}" alt="fade in image" />
			  <img style="max-height: 320px;"src="{% static 'website/images/for_about_page/image1_edited1.png' %}" alt="fade in image" />
			</div>
		</div>
</br>
			<div class="col-sm-10 col-sm-offset-1">
	            {% for entry in about_text %}
                {% if entry.heading %}
                <h1>{{ entry.heading }}</h1>
                {% endif %}
                {% if entry.subheading %}
                <h3>{{ entry.subheading }}</h3>
                {% endif %}
                <p>{{ entry.content|linebreaks }}</p>
            {% endfor %}
		</div>

	</div>



</div>  <!-- container-fluid -->

{% endblock %}
