{% extends 'website/_base.html' %}

{% block bg_class %}home_bg{%  endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">

            {% for entry in about_text %}
                {% if entry.heading %}
                <h1>{{ entry.heading }}</h1>
                {% endif %}
                {% if entry.subheading %}
                <h3>{{ entry.subheading }}</h3>
                {% endif %}
                <p>{{ entry.content|linebreaks }}</p>
            {% endfor %}

		</div>
	</div>

    <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
            <h3>Competitions and Shows</h3>
            <p>Previous acheivements by our students and instructors.</p>
        </div>
    </div>

    <div class="row">  <!-- Edinburgh 2014 pole comp top level row wrapper -->
        <div class="col-sm-11 col-sm-offset-1">
        {% for event in events %}
            <h4>{{ event.name }}</h4>
            {% for achievement in achievements %}
                {% if achievement.event == event %}
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-1">
                                <p><strong>{{ achievement.category }}</strong></p>
                            </div>
                            <div class="col-sm-5">
                                <p>{{ achievement.placing }}</p>
                            </div>
                        </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
    </div>



</div>  <!-- container-fluid -->

{% endblock %}


