{% extends 'website/_base.html' %}
{% load static %}
{% load url from future %}

{% block content %}
<div class="col-sm-10 col-sm-offset-1 main-panel">

	<div class="extra-top-margin container-fluid row">
		<div class="col-sm-10 col-sm-offset-1">

			<div id="cf">
			  <img class="bottom" src="{% static 'website/images/kitten.jpg' %}" alt="carousel image" />
			  <img class="top" src="{% static 'website/images/kitten1.jpg' %}" alt="carousel image" />
			</div>

            {% for entry in about_text %}
                {% if entry.heading %}
                <h1>{{ entry.heading }}</h1>
                {% endif %}
                {% if entry.subheading %}
                <h3>{{ entry.subheading }}</h3>
                {% endif %}
                <p>{{ entry.content|linebreaks }}</p>
            {% endfor %}
		</div>


</div>  <!-- container-fluid -->

</div>
{% endblock %}
