{% extends 'website/_base.html' %}
{% load static %}

{% block content %}

{{ form.media }}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-10 col-sm-offset-1">
       <div class="panel panel-booking">
            <div class="panel-heading">
                <h1 class="panel-title center">Booking Request for {{ session }}</h1>
            </div>

                <div class="panel-body">
                {% include 'website/contact_form_detail.html' %}
            </div>

        </div>
    </div>
 </div>

{% endblock %}
