{% extends "website/_base.html" %}

{% block content %}
<div class="col-sm-10 col-sm-offset-1">

<div class="container-fluid">
    <div class="col-sm-10 col-sm-offset-1">

        <h1>Classes</h1>

        <p>
            For more information or to book a class please <a href="mailto:carouselfitness@gmail.com?Subject=Booking%20enquiry" target="_blank">
            email us</a>, call 01383 626006, or contact us on <a href="https://www.facebook.com/polefitstarlet.dunfermline">Facebook</a>.
        </p>
    </div>

    {% for selected_session in session_types %}

    {% if selected_session.photo %}
        <div class="row">

            <div class="col-sm-4 col-sm-offset-1">
                <h3>{{ selected_session.name }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <p>{{ selected_session.info|linebreaks}}</p>

                <p>Click <a href="{% url 'website:this_week_table' %}">here</a> to view class timetable.</p>
                <p>Click <a href="{% url 'website:booking' %}">here</a> to book a class.</p>

            </div>
            <div class="col-sm-6">

                <img src="{{ MEDIA_URL }}{{ selected_session.photo.name }}" title="{{ selected_session.name }} class"
                     alt="{{ selected_session.name }} image" class="img-responsive"><br/>

            </div>
        </div>
    {% else %}

        <div class="col-sm-10 col-sm-offset-1">
                <h3>{{ selected_session.name }}</h3>
                <p>{{ selected_session.info|linebreaks }}</p>

        </div>
    {% endif %}
    {% endfor %}
</div>

</div>
{%  endblock %}
