{% extends 'website/_base_legacy.html' %}
{% load static %}

{% block bg_class %}plain_bg{%  endblock %}

{% block content %}

<div class="container">

        <div class="row">
			<div class="col-12">
                <h1 class="page-header">Sunshine Fitness</h1>
            </div>
            <div class="col-12">
            <img class="img-fluid" src="{% static 'website/images/double_logo.jpg' %}" />
            </div>
            <div class="col-12">
                <p>
                    At Sunshine Fitness we offer fitness classes, personal training, one to ones and pride ourselves on bringing you
                    the highest quality pole dancing classes from the beautiful Sunshine Pole Studio. We run an all-inclusive,
                    safe environment, with a "come as you are" ethos!
                </p>

                <h2>Follow us</h2>
                <p><a href="https://www.instagram.com/sunshinefitnessfife">
                    <span class="text-warning fab fa-instagram fa-2x mr-2"></span> 
                </a>
                <a href="https://www.facebook.com/sunshinefitnessfife">
                    <span class="text-primary fab fa-facebook fa-2x"></span>
                </a></p>
                <p>#SunshineFitnessFife</p>


                <hr>
                <h2>Classes</h2>
                <p>Check out the <a href="{% url 'timetable:timetable' %}">timetable</a>, <a href={% url 'booking:regular_session_list' %}>book a class</a> or <a href="{% url 'website:contact' %}">contact us</a> for any other enquires.</p>
                {% if future_events.privates %}
                <p>Private lessons are also available; check available times and book <a href="{% url 'booking:private_list' %}">here</a>.<p>
                <hr>    
                {% endif %}
                {% if class_types %}
                    {% for class_type in class_types %}
                        <h3>{{ class_type.name }}</h3>
                        <p>{{ class_type.info }}
                    {% endfor %}

                {% endif %}
                <hr>

                {% include 'website/includes/membership_legacy.html' %}

		</div>
    </div>

</div>  <!-- container-fluid -->

{% endblock %}
