{% extends "website/_base.html" %}
{% load static %}

{% block content %}

        <div class="container-fluid reduce-top-margin">
            <div class="row">
                <div class="page-header col-xs-12">
                    <h1>Instructors</h1>
                </div>
            </div>
            {% if instructors %}
            {% for instructor in instructors %}
                {% if instructor.regular_instructor %}
                    <div class="row">
                        {% if instructor.photo %}
                            <div class="col-xs-12 col-sm-3">
                                <div class="instr-img-container">
                                <img class="img-responsive instr-img" src="{{ MEDIA_URL }}{{ instructor.photo.name }}" alt="{{ instructor.name }} photo"
                                        alt="instructor photo">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <h3>{{ instructor.name }}</h3>
                                <p>{% if instructor.info %}{{ instructor.info|linebreaks }}{% endif %}</p>
                            </div>
                        {% else %}
                            <div class="col-xs-12">
                                <h3>{{ instructor.name }}</h3>
                                <p>{% if instructor.info %}{{ instructor.info|linebreaks }}{% endif %}</p>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            {% else %}
                <p>No instructor information is available.</p>
            {% endif %}
        </div>

{% endblock %}
