{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Sunshine Fitness</title>

        <link rel="icon" type="image/jpg" href="{% static 'website/images/logo_no_text.jpg' %}">
        <link rel="shortcut icon" href="{% static 'website/images/favicon.ico' %}" type="image/vnd.microsoft.icon">

        <!-- Bootstrap core CSS -->
        {% bootstrap_css %}

        <link href="{% static 'website/css/custom-v6.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'website/css/print.css' %}"  type="text/css" media="print" />

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" />

        {% block extrahead %}{% endblock %}

    </head>
<body>

  <body>

    {% block content %}
        <div class="container-fluid">
            <p>You need to define a content block!</p>
        </div>
    {% endblock %}


  </body>



</html>

{% bootstrap_javascript jquery=3 %}

<div id="fb-root"></div>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="{% static 'website/js/custom-v3.js' %}"></script>
<script src="{% static 'website/js/ajax_csrf.js' %}"></script>
<script type="text/javascript" src="{% static 'cookielaw/js/cookielaw.js' %}"></script>

{% block extrascripts %}{% endblock %}