{% extends "website/_base.html" %}

{% block content %}
        <div class="container-fluid reduce-top-margin">
            <div class="row">
                <div class="page-header col-sm-11 col-sm-offset-1">
                    <h1>Venues</h1>
                </div>
            </div>
            <!-- row1 -->
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <h3>Inverkeithing</h3>
                    <div class="row">
                        <div class="col-sm-12 venue-address">
                            <p> Carousel Fitness Studio<br/>
                            7 Preston Crescent<br/>
                            Inverkeithing<br/>
                            Fife<br/>
                            KY11 1DR</p>
                        </div>
                     </div>
                     <div class="row">
                         <div class="col-sm-12">
                            <iframe
                              width=100%
                              height=300px
                              frameborder="0" style="border:2px solid black"
                              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCDTTn1vI40in1iflS5wV9I_FObkcdDTgA
                                &q=KY111DR">
                            </iframe>
                        </div>
                     </div>
                 </div>
            </div>
        </div>

{%  endblock %}
