{% extends "website/_base.html" %}

{% block content %}
        <div class="container-fluid reduce-top-margin">
            <div class="row">
                <div class="page-header col-sm-11 col-sm-offset-1">
                    <h1>Venues</h1>
                </div>
            </div>
            <!-- row1 -->
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3>Carousel Fitness - Aerial & Fitness Studios</h3>
                    <div class="row">
                        <div class="col-sm-12 venue-address">
                            <p>
                            7 Preston Crescent<br/>
                            Inverkeithing<br/>
                            Fife<br/>
                            KY11 1DR</p>
                        </div>
                     </div>
                     <div class="row">
                         <div class="col-sm-12">
                            <iframe
                              width=80%
                              height=350px
                              frameborder="0" style="border:2px solid black"
                              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4458.88982841073!2d-3.392138!3d56.028285000000004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc74bf63a41061f7b!2sCarousel+Fitness!5e0!3m2!1sen!2sus!4v1551709661821">
                            </iframe>
                        </div>
                     </div>
                 </div>
            </div>
        </div>

{%  endblock %}
