<!DOCTYPE html>
<html>
<head>
    <title>Timetable</title>
</head>
<body>

    <h1>Timetable</h1>

    </p>
    <h4>Show classes by type:</h4>
    {% for type in session_types %}

        <a href="{% url 'filtered_session' type.id %}">{{ type.name }}</a></br>

    {% endfor %}
    </p></br>

    {% if timetable_items %}
        {% for session in timetable_items %}
            <h4><a href="{% url 'session_type_info' session.session_type.id %}">{{ session.session_type }}</a> - {{ session.level }}</h4>
                <p>Instructor: <a href="{% url 'instructor' session.instructor.id %}">{{ session.instructor }}</a></br>
                {{ session.get_weekday}} {{ session.session_date }}</br>
                Duration: {{ session.duration }} minutes</br>
                Venue: {{ session.venue }}, {{ session.venue.address }}</br>
                {% if session.spaces %}Spaces available{% else %}Currently full{% endif %}</p></br>
        {% endfor %}

    {% else %}
        <p>No sessions are timetabled.</p>
    {% endif %}

</body>
</html>