<!DOCTYPE html>
<html>
<head>
    <title>Instructors</title>
</head>
<body>
    {% if instructors %}
        {% for instructor in instructors %}
            {% if instructor.regular_instructor %}
                <h2>{{ instructor.name }}</h2>
                <p>{{ instructor.info }}</p>
                {% if instructor.photo %}
                    <img src="{{ MEDIA_URL }}{{ instructor.photo.name }}" width="200px">
                {% endif %}
            {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <p>No instructor information is available.</p>
    {% endif %}
</body>
</html>