{% extends "website/_base.html" %}
{% load customtags %}

{% block content %}

    <div class="page-header" >
        <h1>
            Timetable
        </h1>
    </div>

    <span id="costs">
    {% include 'website/includes/membership.html' %}
    </span>
    {% if future_events.privates %}
    <p>
        <strong>Looking for private lessons? <a href="{% url 'booking:private_list' %}">Check available times and book here</a></strong>
    </p>
    {% endif %}
    {% if timetable_sessions %}

        <form class="filter-row" action="" method="get">
            <div class="row">
                <div class="col-sm-2">
                    <strong>Show classes by: </strong>
                </div>
                <div class="col-sm-2 filter">{{ form.filtered_session_type }}</div>
                <div class="col-sm-1"><input class="btn btn-warning btn-sm pt-0 pb-0" type="submit" value="Go" /></div>
            </div>
        </form>
        </br>

        <div>
            <div class="panel" style="background-color: rgba(230,230,230,0.6);">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr class="table-heading">
                            <th></th>
                            <th>Day</th>
                            <th>Time</th>
                            <th class="table-center">Class</th>
                            {% comment %} <th class="table-center">Cost
                                <span data-toggle="tooltip" title="Drop-in Cost for members/non-members">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                            </th> {% endcomment %}
                            <th>Level</th>
                            <th>Venue</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for session in timetable_sessions %}
                        <tr>
                            <td class="table-center timetable-row">
                                <a href="{% url 'booking:regular_session_list' %}?name={{session.name}}&level={{session.level}}&venue={{session.venue.abbreviation}}&day={{session.session_day}}&time={{session.start_time|date:'H:i'}}">
                                <div class="btn btn-warning btn-sm pt-0 pb-0"><span class="text-dark">View Dates</span></div></a>
                            </td>
                            <td class="timetable-row">{{ session.session_day|format_day }}</td>
                            <td class="timetable-row">{{ session.start_time|time:"H:i" }} - {{ session.end_time|time:"H:i" }}</td>
                            <td class="table-center timetable-row">
                                {% if session.category %}
                                    <span class="badge badge-pill badge-{{ session.category.colour }}">
                                {% endif %}
                                    {{ session.name }} {% if session.members_only %}(Members only){% endif %}
                                </span></td>
                            {% comment %} <td class="table-center timetable-row">
                                {% if session.members_only %}
                                Membership only
                                {% else %}
                                £ {{ session.cost | format_cost }}
                                {% endif %}
                            </td> {% endcomment %}
                            <td class="timetable-row session-level-td">{{ session.level }}</td>
                            <td class="timetable-row">{{ session.venue.abbreviation }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    {% else %}
        <h4>Timetable not currently available</h4>
    {% endif %}
</div>


{% endblock %}
