{% extends "timetable/timetable_admin_base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
        <h2>Upload timetable</h2>
            {{ form.media }}
            {% if form.errors %}
                <div class="form-error">
                    <p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
                    <ul>
                    {% for field in form %}
                    {% if field.errors %}<li>{{ field.name }}: {{ field.errors|striptags }}</li>{% endif %}
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}

            
            <p>Upload classes from the current timetable for the following date range:</p>
            
            <form method="post">
                {% csrf_token %}
                <div class="upload-timetable-form">
                    {{form.as_p}}
                <button type="submit" class="btn btn-success">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
