{% extends 'website/_base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container-fluid row">
<div class="col-sm-12">

<h1>{% trans "Sign Up" %}</h1>

<p>Already have an account? Then please <a href="{{ login_url }}">log in</a>.</p></br>

<p>Or sign up using the form below</p>

<form class="signup mock-bs-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% include 'account/includes/signup_form_content.html' %}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-purple" type="submit">{% trans "Sign Up" %}</button>
</form>

</div>
</div>
{% endblock %}
