{% extends 'website/_base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container-fluid row">
<div class="col-sm-12">

<h1>{% trans "Sign Up" %}</h1>

<p>Already have an account? Then please <a href="{{ login_url }}">log in</a>.</p></br>

<p>Or sign up using the form below</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.non_field_errors }}
    <div class="row">
        {% for field in form %}
        {% if field.name == 'confirmation_key' %}
            <span class="hide">{{ field }}</span>
        {% else %}
            <div class="form-group">
               <label class="control-label col-sm-2 col-xs-3" for="name_id">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
               <div class="col-sm-10 col-xs-9 {% if form.field.errors %}error-info{% endif %}">{{ field }}</div>
               <div class="helptext col-sm-10 col-sm-offset-2 col-xs-9 col-xs-offset-3">{{ field.help_text }}</div>
                {% if field.errors %}
                    <div class="col-sm-10 col-sm-offset-2 col-xs-9 col-xs-offset-3">
                        {{ field.errors }}
                    </div>
                {% endif %}
           </div>
        {% endif %}
        {% endfor %}
    </div>



  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-purple" type="submit">{% trans "Sign Up" %}</button>
</form>

</div>
</div>
{% endblock %}
