{% extends 'allauth/layouts/base.html' %}

{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}

{% block title %}
{% include "website/includes/header.html" with title="Sign out" %}
{% endblock %}


{% block content %}
  <div class="container mt-20">
    {% setvar link %}
        <a href="{{ login_url }}">
        {% endsetvar %}
        {% setvar end_link %}
        </a>
    {% endsetvar %}
    {% element p %}
        {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
    {% endelement %}

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {% include 'account/includes/signup_form_content.html' %}
    
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="mt-10"/>
      <button type="submit">{% trans "Sign Up" %}</button>
    </form>
  </div>
{% endblock content %}