Django==1.8
dj-database-url==0.3.0
dj-static==0.0.6
django-bootstrap3
psycopg2==2.5.3
pystache==0.5.4
static==1.0.2
pytz==2014.4
Pillow==2.4.0
django-grappelli==2.7.1
envdir==0.6.1
django-extensions==1.5.5