<!-- PAGE HERO
============================================= -->	
<section id="page-header" class="bg-fixed page-hero-section division">
    <div class="container">	


        <!-- PAGE HERO TEXT -->
        <div class="row">	
            <div class="col-md-10 col-xl-8 offset-md-1 offset-xl-2">
                <div class="hero-txt text-center txt-sunshine">

                    <!-- Title -->
                    <h2 class="h2-lg mt-100">{{ title }}</h2>
                </div>
            </div>	
        </div>    <!-- END PAGE HERO TEXT -->


    </div>	   <!-- End container --> 
</section>	<!-- END PAGE HERO -->