{% load static %}
<!DOCTYPE html>
<html lang="en" class="{% block bg_class %}polefit_bg{%  endblock %}">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minumum-scale=1">
        <title>Polefit Starlet</title>

        <link rel="icon"
        type="image/png"
        href="{% static "website/images/polefit_favicon.png" %}">

        <!-- Bootstrap core CSS -->
        <link href="{% static "website/bootstrap/bootstrap.css" %}" rel="stylesheet">
        <!-- Bootstrap theme -->
        <link href="{% static "website/bootstrap/bootstrap-theme.css" %}" rel="stylesheet">
        <!-- Custom styles  -->
        <link href="{% static "website/bootstrap/custom.css" %}" rel="stylesheet">
    </head>
<body>

    <div class="wrap">
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" rel="home" href="/" title="Polefit Starlet">
                        <img class="nav-logo" src="{% static "website/images/splash_nav.png" %}">
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-left">
                        <li {% if section == 'about' %}class="active"{% endif %}><a href="{% url 'about' %}">About us</a></li>
                        <li class="dropdown {% if dd_section == 'class_dd' %}active{% endif %}">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Classes <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li {% if section == 'classes_polefit' %}class="active"{% endif %}><a href="{% url 'classes_polefit' %}">PoleFit</a></li>
                            <li {% if section == 'classes_hoop' %}class="active"{% endif %}><a href="{% url 'classes_hoop' %}">Aerial Hoop</a></li>
                            <li {% if section == 'classes_bouncefit' %}class="active"{% endif %}><a href="{% url 'classes_bouncefit' %}">Bounce Fit</a></li>
                            <li {% if section == 'classes_balletfit' %}class="active"{% endif %}><a href="{% url 'classes_balletfit' %}">Ballet Fit</a></li>
                            <li {% if section == 'classes_stretch' %}class="active"{% endif %}><a href="{% url 'classes_stretch' %}">Stretch n Flex</a></li>
                          </ul>
                        </li>
                        <li {% if section == 'instructors' %}class="active"{% endif %}><a href="{% url 'instructors' %}">Instructors</a></li>
                        <li {% if section == 'venues' %}class="active"{% endif %}><a href="{% url 'venues' %}">Venues</a></li>
                        <li {% if section == 'booking' %}class="active"{% endif %}><a href="{% url 'booking' %}">Booking</a></li>
                        <li {% if section == 'gallery' %}class="active"{% endif %}><a href="{% url 'gallery' %}">Gallery</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

		{% block content %}

        <div class="container-fluid">
            <p>You need to define a content block!</p>
        </div>

		{% endblock %}



<!--/.footer -->
        <div class="push"></div>
    </div> <!--/end of page .wrap -->

    <div class="footer">
        <div class="container-fluid">
            <div class="row footer_box">
                <div class="col-sm-6 footer-fb pull-left">
                    <div class="fb-like"
                         data-layout="standard"
                         data-action="like" data-show-faces="true" data-share="true">
                    </div>
                </div>
                <div class="col-sm-6 footer-logo pull-right">
                    <img class="pull-right img-responsive"src="{% static "website/images/splash_footer.png" %}">
                </div>
            </div>
        </div>
    </div>



   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static "website/bootstrap/bootstrap.min.js" %}"></script>

    <div id="fb-root"></div>
    <script src="{% static "website/bootstrap/custom.js" %}"></script>

</body>



</html>
