{% load static %}


<!DOCTYPE html>
<html lang="en" class="{% block bg_class %}polefit_bg{%  endblock %}">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minumum-scale=1">
        <title>Polefit Starlet</title>

        <link rel="icon"
        type="image/png"
        href="{% static "website/images/polefit_favicon.png" %}">

        <!-- Bootstrap core CSS -->
        <link href="{% static "website/bootstrap/bootstrap.css" %}" rel="stylesheet">
        <!-- Bootstrap theme -->
        <link href="{% static "website/bootstrap/bootstrap-theme.css" %}" rel="stylesheet">
        <!-- Custom styles  -->
        <link href="{% static "website/bootstrap/custom.css" %}" rel="stylesheet">
    </head>
<body>

    <div class="wrap">
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" rel="home" href="/" title="Polefit Starlet">
                        <img class="nav-logo" src="{% static "website/images/splash_nav.png" %}">
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-left">
                        <li {% if section == 'about' %}class="active"{% endif %}><a href="{% url 'website:about' %}">About us</a></li>
                        <li class="dropdown {% if dd_section == 'class_dd' %}active{% endif %}">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Classes <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              {% for type in session_types %}
                            <li><a href="{% url 'website:classes' type.id %}">{{ type.name }}</a></li>
                              {% endfor %}
                          </ul>
                        </li>
                        <li {% if section == 'instructors' %}class="active"{% endif %}><a href="{% url 'website:instructors' %}">Instructors</a></li>
                        <li {% if section == 'venues' %}class="active"{% endif %}><a href="{% url 'website:venues' %}">Venues</a></li>
                        <li {% if section == 'booking' %}class="active"{% endif %}><a href="{% url 'website:booking' %}">Booking</a></li>
                        <li {% if section == 'gallery' %}class="active"{% endif %}><a href="{% url 'website:gallery' %}">Gallery</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

		{% block content %}

        <div class="container-fluid">
            <p>You need to define a content block!</p>
        </div>

		{% endblock %}



<!--/.footer -->
        <div class="push"></div>
    </div> <!--/end of page .wrap -->

    <div class="footer">
        <div class="container-fluid">
            <div class="row footer_box">
                <div class="col-sm-6 footer-fb pull-left">
                    <div class="fb-like"
                         data-layout="standard"
                         data-action="like" data-show-faces="true" data-share="true">
                    </div>
                </div>
                <div class="col-sm-6 footer-logo pull-right">
                    <img class="pull-right img-responsive"src="{% static "website/images/splash_footer.png" %}">
                </div>
            </div>
        </div>
    </div>



   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static "website/bootstrap/bootstrap.min.js" %}"></script>

    <div id="fb-root"></div>
    <script src="{% static "website/bootstrap/custom.js" %}"></script>


    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51541461-1', 'heroku.com');
      ga('send', 'pageview');
    </script>

</body>



</html>
