{% extends 'website/_base.html' %}

{% block bg_class %}home_bg{%  endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h1>About Starlet Pole Fit</h1>

			<p>Starlet Pole Fitness opened in 2009 at 4 Victoria Street, Dunfermline. 2013 was the official launch of
                Starlet Alternative Fitness, where new classes were added and the journey to becoming the school we are
                known for today began.</p>

            <p>Today, we run over 30 classes a week, which range from bounce fit to pole fitness and teach over 200
                students. We are constantly expanding to different venues to make these funky alternative classes
                available to as many people as possible.</p>

            <p>Our aim as a school is to increase fitness, boost confidence and teach new skills and tricks efficiently
                and safely. Every class is designed to suit each individual.  With various intensity and ability ranges, it really
                is for any and every one.</p>

            <p>We are changing the way that pole dancing is seen, bringing it out of the clubs and into the fitness
                studios! Pole is not seedy, it is a skill which takes a lot of hard work and is an amazing workout.  Join
                the booming and supportive industry and see where pole can take you.</p>
		</div>
	</div>

    <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
            <h3>Competitions</h3>
            <p>Previous acheivements by our students and instructors.</p>
        </div>
    </div>

    <div class="row">  <!-- Edinburgh 2014 pole comp top level row wrapper -->
        <div class="col-sm-11 col-sm-offset-1">
        <h4>Edinburgh Pole Competition 2014</h4>
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <p><strong>Doubles</strong></p>
                </div>
                <div class="col-sm-5">
                    <p>1st, 2nd and 3rd place</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <p><strong>Advanced solo</strong></p>
                </div>
                <div class="col-sm-5">
                    <p>3rd place</p>
                </div>
            </div>
        </div>
    </div>  <!-- Edinburgh 2014 pole comp top level row wrapper -->

    <div class="row">  <!-- Lourenzo's pole comp top level row wrapper -->
        <div class="col-sm-11 col-sm-offset-1">
        <h4>Lourenzos Competition 2013</h4>
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <p><strong>Doubles</strong></p>
                </div>
                <div class="col-sm-5">
                    <p>1st and 2nd place</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <p><strong>Advanced solo</strong></p>
                </div>
                <div class="col-sm-5">
                    <p>1st and 2nd place</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <p><strong>Intermediate solo</strong></p>
                </div>
                <div class="col-sm-5">
                    <p>2nd and 3rd place</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <p><strong>Beginner solo</strong></p>
                </div>
                <div class="col-sm-5">
                    <p>1st place</p>
                </div>
            </div>
        </div>
    </div>  <!-- Lourenzos 2013 pole comp top level row wrapper -->

    <div class="row">  <!-- MMPS 2013 pole comp top level row wrapper -->
        <div class="col-sm-11 col-sm-offset-1">
        <h4>Miss and Mister Pole Scotland 2013</h4>
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <p><strong>Instructor solo</strong></p>
                </div>
                <div class="col-sm-5">
                    <p>3rd place</p>
                </div>
            </div>
        </div>
    </div>  <!-- MMPS 2013 pole comp top level row wrapper -->

    <div class="row">  <!-- Edinburgh 2013 pole comp top level row wrapper -->
        <div class="col-sm-11 col-sm-offset-1">
        <h4>Edinburgh Pole Competition 2013</h4>
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <p><strong>Doubles</strong></p>
                </div>
                <div class="col-sm-5">
                    <p>3rd place</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <p><strong>Advanced solo</strong></p>
                </div>
                <div class="col-sm-5">
                    <p>2nd place</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <p><strong>Intermediate solo</strong></p>
                </div>
                <div class="col-sm-5">
                    <p>3rd place</p>
                </div>
            </div>
        </div>
    </div>  <!-- Edinburgh 2014 pole comp top level row wrapper -->


</div>  <!-- container-fluid -->

{% endblock %}


