{% extends "website/_base.html" %}

{% block bg_class %}plain_bg{%  endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
                <h1>Stretch n Flex</h1>
                <p>Iriure nostrud reformidans mel te, dolor mnesarchum dissentiunt has no, qui eu vide sonet. Cu vel
                    posse prodesset reformidans, in eum cibo inani. Te usu fierent constituto adversarium, offendit
                    dissentiunt sit ea. Molestie volutpat has te, movet animal expetendis ea eos. No ius meis erant
                    primis. Mundi libris cum at, eu nec labore insolens. Ad nam nusquam probatus. Pro in vidit animal.
                    Usu et facete inermis moderatius, mea an dico maluisset persequeris, vis omnis debet simul in.</p>

                <h3>Class times</h3>
                <p>Monday 6pm<br/>
                ...</p>

            </div>
        </div>
    </div>

{%  endblock %}

