<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>Polefit Starlet</title>

        <!-- Bootstrap core CSS -->
        <link href="../../static/website/static/bootstrap.css" rel="stylesheet">
        <!-- Bootstrap theme -->
        <link href="../../static/website/static/bootstrap-theme.css" rel="stylesheet">
        <!-- Custom styles  -->
        <link href="../../static/website/static/custom.css" rel="stylesheet">



    </head>



<body class="plain_bg">

    <div id="wrap">
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" rel="home" href="index.html" title="Polefit Starlet">
                        <img src="../../static/website/images/splash_nav.png" style="max-height: 40px; margin-top: -7px">
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-left">
                        <li><a href="about.html">About us</a></li>
                        <li class="dropdown active">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Classes <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li><a href="classes_polefit.html">PoleFit</a></li>
                            <li><a href="classes_hoop.html">Aerial Hoop</a></li>
                            <li class="active"><a href="classes_bouncefit.html">Bounce Fit</a></li>
                            <li><a href="classes_balletfit.html">Ballet Fit</a></li>
                            <li><a href="classes_stretch.html">Stretch n Flex</a></li>
                          </ul>
                        </li>
                        <li><a href="instructors.html">Instructors</a></li>
                        <li><a href="venues.html">Venues</a></li>
                        <li><a href="booking.html">Booking</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>



    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
                <h1>Bounce Fit</h1>
                <p>Iriure nostrud reformidans mel te, dolor mnesarchum dissentiunt has no, qui eu vide sonet. Cu vel
                    posse prodesset reformidans, in eum cibo inani. Te usu fierent constituto adversarium, offendit
                    dissentiunt sit ea. Molestie volutpat has te, movet animal expetendis ea eos. No ius meis erant
                    primis. Mundi libris cum at, eu nec labore insolens. Ad nam nusquam probatus. Pro in vidit animal.
                    Usu et facete inermis moderatius, mea an dico maluisset persequeris, vis omnis debet simul in.</p>

                                <h3>Class times</h3>
                <p>Monday 6pm<br/>
                ...</p>
            </div>
        </div>
    </div>



<!--/.footer -->
        <div id="push"></div>
    </div> <!--/end of page .wrap -->

    <div id="footer">
        <div class="container container-sm-height">
        <div class="row row-sm-height" >
                <div class="fb-like col-sm-4 col-sm-height col-bottom"  data-href="https://www.facebook.com/polefitstarlet.dunfermline" data-layout="standard"
                data-action="like" data-show-faces="true" data-share="false" style="padding-bottom: 20px;">
                </div>
                <div class="col-sm-8 col-sm-height">
                    <img src="../../static/website/images/splash.png" style="height:100px; float:right">
                </div>
        </div>
        </div>
    </div>



   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../static/website/static/bootstrap.min.js"></script>

    <div id="fb-root"></div>
    <script src="../../static/website/static/custom.js"></script>

</body>



</html>
