{% extends "website/_base.html" %}

{% block bg_class %}polefit_bg{%  endblock %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <h1>PoleFit</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <p>Pertinax assueverit ad nam, pro docendi senserit persequeris ne. Est dicta feugait adversarium no,
                sed at sale nominavi. Laudem aeterno definitionem ne per. Nam ad luptatum liberavisse signiferumque,
                pri novum officiis inciderint at. Labores suscipiantur ei eos, purto invenire accommodare cu mea.

            <p>Unum regione feugait ut quo. Porro aperiam labores in qui, est ea mollis philosophia. His scriptorem
            consectetuer no, tota probo comprehensam cu pro. Malis phaedrum ea mei, mei aliquando concludaturque ne,
            est ignota apeirian menandri in.</p>

            <h3>Class times</h3>
            <p>Monday 6pm<br/>
            ...</p>

        </div>
        <div class="col-sm-6">
            <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xaf1/t1.0-9/205163_184383554941680_5995944_n.jpg"
                 title="Polefit class" alt="Polefit class image" class="img-responsive"><br/>
            <p>Click <a href="{% url 'booking' %}">here</a> to book a class.</p>
        </div>
    </div>
</div>

{%  endblock %}

