{% extends "website/_base.html" %}
{% load static %}

{% block bg_class %}polefit_bg{%  endblock %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <h1>Instructors</h1>
        </div>
    </div>
    <!-- row1 -->
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-sm-offset-1 instr-img">
            <img src="{% static 'website/images/Emma.jpg' %}"
                 title="Emma" alt="Emma" class="img-responsive img-circle">
        </div>
        <div class="col-sm-6">
            <h3>Emma Junor</h3>
            <p>Unum regione feugait ut quo. Porro aperiam labores in qui, est ea mollis philosophia. His scriptorem
                consectetuer no, tota probo comprehensam cu pro. Pertinax assueverit ad nam, pro docendi senserit
                persequeris ne. Est dicta feugait adversarium no,
                sed at sale nominavi. Laudem aeterno definitionem ne per. Nam ad luptatum liberavisse signiferumque,
                pri novum officiis inciderint at. Labores suscipiantur ei eos, purto invenire accommodare cu mea.
            </p>
        </div>
    </div>

    <!-- row2 -->
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-sm-offset-1 instr-img">
            <img src="{% static 'website/images/Kira.jpg' %}"
                 title="Kira" alt="Kira" class="img-responsive img-circle">
        </div>
        <div class="col-sm-6">
            <h3>Kira Grant</h3>
            <p>Unum regione feugait ut quo. Porro aperiam labores in qui, est ea mollis philosophia. His scriptorem
                consectetuer no, tota probo comprehensam cu pro. Pertinax assueverit ad nam, pro docendi senserit
                persequeris ne. Est dicta feugait adversarium no,
                sed at sale nominavi. Laudem aeterno definitionem ne per. Nam ad luptatum liberavisse signiferumque,
                pri novum officiis inciderint at. Labores suscipiantur ei eos, purto invenire accommodare cu mea.
            </p>
        </div>
    </div>

    <!-- row3 -->
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-sm-offset-1 instr-img">
            <img src="http://placehold.it/400.jpg"
                 title="Instructor Name" alt="instructor" class="img-responsive img-circle">
        </div>
        <div class="col-sm-6">
            <h3>Instructor Name</h3>
            <p>Unum regione feugait ut quo. Porro aperiam labores in qui, est ea mollis philosophia. His scriptorem
                consectetuer no, tota probo comprehensam cu pro. Pertinax assueverit ad nam, pro docendi senserit
                persequeris ne. Est dicta feugait adversarium no mea.  Laudem aeterno definitionem ne per. Nam ad luptatum liberavisse signiferumque,
                pri novum officiis inciderint at. Labores suscipiantur ei eos, purto invenire accommodare cu mea.
            </p>
        </div>
    </div>

    <!-- row4 -->
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-sm-offset-1 instr-img">
            <img src="http://placehold.it/400.jpg"
                 title="Instructor Name" alt="instructor" class="img-responsive img-circle">
        </div>
        <div class="col-sm-6">
            <h3>Instructor Name</h3>
            <p>Unum regione feugait ut quo. Porro aperiam labores in qui, est ea mollis philosophia. His scriptorem
                consectetuer no, tota probo comprehensam cu pro. Pertinax assueverit ad nam, pro docendi senserit
                persequeris ne. Est dicta feugait adversarium no mea.  Laudem aeterno definitionem ne per. Nam ad luptatum liberavisse signiferumque,
                pri novum officiis inciderint at. Labores suscipiantur ei eos, purto invenire accommodare cu mea.
            </p>
        </div>
    </div>

</div>

<br/>

{% endblock %}


<!-- Google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51541461-1', 'heroku.com');
  ga('send', 'pageview');
</script>
