{% extends "website/_base.html" %}

{% block bg_class %}plain_bg{%  endblock %}

{% block content %}


        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-11 col-sm-offset-1">
                    <h1>Venues</h1>
                    <h4 style="color: red;"><em>Edinburgh classes starting first week in November!</em></h4>
                </div>
            </div>
            <!-- row1 -->
            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h3>Dunfermline</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <p> Starlet Dance Studio<br/>
                            4 Victoria Street<br/>
                            Dunfermline<br/>
                            Fife<br/>
                            KY12 0LW</p>
                        </div>
                     </div>
                     <div class="row">
                         <div class="col-sm-12">
                            <iframe
                              width=100%
                              height=300px
                              frameborder="0" style="border:2px solid black"
                              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCDTTn1vI40in1iflS5wV9I_FObkcdDTgA
                                &q=Starlet+Dance+Studio+4+Victoria+St+Dunfermline">
                            </iframe>
                        </div>
                     </div>
                 </div>
                <div class="col-sm-3">
                    <h3>Cowdenbeath</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Phoenix Martial Art & Fitness Studio</br>
                            39 Broad Street<br/>
                            Cowdenbeath<br/>
                            Fife<br/>
                            KY4 8JP</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <iframe
                              width=100%
                              height=300px
                              frameborder="0" style="border:2px solid black"
                              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCDTTn1vI40in1iflS5wV9I_FObkcdDTgA
                                &q=39+Broad+St+Cowdenbeath">
                            </iframe>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h3>Edinburgh</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Shapes Fitness Studio</br>
                            19 Arthur Street<br/>
                            Edinburgh<br/>
                            EH6 5DA
                            <br/><br/></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <iframe
                              width=100%
                              height=300px
                              frameborder="0" style="border:2px solid black"
                              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCDTTn1vI40in1iflS5wV9I_FObkcdDTgA
                                &q=Shapes+19+Arthur+St+Edinburgh">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>



{%  endblock %}


