{% extends "website/_base.html" %}

{% block bg_class %}plain_bg{%  endblock %}

{% block content %}


<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"></li>
                <li><a href="{% url 'website:timetable' %}">{% if sidebar_section == 'all' %}
                    <span class="sidebar_active">All scheduled classes</span>{% else %}All scheduled classes{% endif %}</a></li>
                <li><a href="{% url 'website:this_week_table' %}">{% if sidebar_section == 'this_week' %}
                    <span class="sidebar_active">This week</span>{% else %}This week{% endif %}</a></li>
                    <ul class="sidebar-nav-sub">
                        <li><a href="{% url 'website:this_week_table' %}">{% if sidebar_section == 'this_week' and sidebar_venue_section == 'all' %}
                        <span class="sidebar_active">All venues</span>{% else %}All venues{% endif %}</a></li>
                        {% for venue in thisweek_venues %}
                        <li><a href="{% url 'website:this_week_table_venue' venue.id %}">{% if sidebar_section == 'this_week' and sidebar_venue_section == venue %}
                        <span class="sidebar_active">{{ venue.venue }}</span>{% else %} {{venue.venue }}{% endif %}</a></li>
                        {% endfor %}
                    </ul>
                <li><a href="{% url 'website:next_week_table' %}">{% if sidebar_section == 'next_week' %}
                    <span class="sidebar_active">Next week</span>{% else %}Next week{% endif %}</a></li>
                    <ul class="sidebar-nav-sub">
                        <li><a href="{% url 'website:next_week_table' %}">{% if sidebar_section == 'next_week' and sidebar_venue_section == 'all' %}
                        <span class="sidebar_active">All venues</span>{% else %}All venues{% endif %}</a></li>
                        {% for venue in nextweek_venues %}
                        <li><a href="{% url 'website:next_week_table_venue' venue.id %}">{% if sidebar_section == 'next_week' and sidebar_venue_section == venue %}
                        <span class="sidebar_active">{{ venue.venue }}</span>{% else %} {{venue.venue }}{% endif %}</a></li>
                        {% endfor %}
                    </ul>
                    {% for type in tt_session_types %}
                        <li><a href="{% url 'website:sessions_by_type' type.id %}">{% if sidebar_section == type.id %}
                            <span class="sidebar_active">{{ type.name }}</span>{% else %}{{ type.name }}{% endif %}</a></li>
                    {% endfor %}

            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">
                <h2>
                    <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                    Timetable for week beginning {{ start|date:"l d F"}}</br>
                    {% if venue_id == "all" %} All venues {% else %} Venue: {{ venue_id.venue }} {% endif %}
                </h2>
                <p>Click on a class for more details.</p>

            </div>
            <!-- Keep all page content within the page-content inset div! -->


            <div class="page-content inset">
                <div class="table-responsive">
                    </br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="timetable-data">Mon</th>
                                <th class="timetable-data">Tues</th>
                                <th class="timetable-data">Wed</th>
                                <th class="timetable-data">Thurs</th>
                                <th class="timetable-data">Fri</th>
                                <th class="timetable-data">Sat</th>
                                <th class="timetable-data"  >Sun</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                {% for session_week in sessions %}

                                <td class="timetable-data">
                                    {% for session in session_week %}
                                                {{ session.session_date|time:"f a" }} <a href="#{{ session.id }}" class={% if session.bookable %}"timetable-data-space"{% else %}"timetable-data-full"{% endif %} data-toggle="modal" data-target="#{{ session.id }}">
                                                                                    {{ session.session_type }}</a>{% if session.level != "All levels" %} ({{ session.level }}){% endif %}
                                                                                    </br></br>

                                            <div class="modal fade" id="{{ session.id }}" tabindex="-1" role="dialog" aria-labelledby="ttmodal" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                                                        <h4 class="modal-title" id="myModalLabel">{{ session.session_type }} details</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Date: {{ session.session_date|date:"D d N" }}</br>
                                                                Time: {{ session.session_date|time:"f a" }}</br>
                                                                Duration: {{ session.duration }} minutes</br>
                                                                Level: {{ session.level }}</br>
                                                                {% if session.show_instructor and session.instructor %}
                                                                Instructor: {{ session.instructor}}</br>
                                                                {% endif %}
                                                                Venue: {{ session.venue }}, {{ session.venue.address }}, {{ session.venue.postcode }}</br>
                                                                Available to book: {% if session.bookable %}Yes{% else %}No{% endif %}
                                                            </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                              </div>
                                            </div>

                                        {% empty %}
                                            No classes scheduled
                                        {% endfor %}

                                </td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>

                </div> <!-- table-responsive -->
            </div>  <!-- page content insert -->
        </div> <!-- page content wrapper -->
</div>  <!-- wrapper -->





{% endblock %}