{% extends "website/_base.html" %}
{% load static %}
{% load bookingtags %}

{% block extrahead %}
{% include 'booking/includes/ajax_head.html' %}
{% endblock %}

{% block title %}{% include "website/includes/header.html" with title=title %}{% endblock %}

{% block content %}

<section>

    <div id="confirm-dialog"></div>

    <div class="container mt-20">

        {% include "booking/includes/fees_due_banner.html" %}
        
            {% if bookings %}
                <div class="panel panel-transparent" style="overflow-x: scroll;">
                    <ul class="list-group">
                        {% regroup bookings by event.date.date as bookings_list %}
                        {% for booking_items in bookings_list %}
                            <li class="list-group-item list-group-item-secondary">{{ booking_items.grouper|date:"l d M" }}</li>
                            {% for booking in booking_items.list %}  
                                {% include 'booking/includes/booking_row.html' %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% include 'booking/includes/pagination.html' %}
                </div>
            {% else %}
                {% if history %}
                    <p>You do not have any past bookings.</p>
                {% else %}
                    <p>You do not have any upcoming bookings.</p>
                {% endif %}
            {% endif %}
    </div>
</section>
{% endblock content %}


{% block extrascripts %}
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type='text/javascript' src="{% static 'booking/js/alerts.js' %}"></script>
{% endblock %}