{% extends "website/_base.html" %}
{% load static %}
{% load bookingtags %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'booking/vanilla-notify.css' %}">
<script type='text/javascript' src="{% static 'booking/vanilla-notify.min.js' %}"></script>
{% endblock %}

{% block content %}

<div id="confirm-dialog"></div>


<div class="col-xs-12">

<div class="container-fluid row">
    {% include "booking/includes/fees_due_banner.html" %}

    {% if history %}
        <h1>Past bookings</h1>
    {% else %}
        <h1>Bookings</h1>
    {% endif %}

    {% if bookings %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-transparent">

                <div class="table-responsive">
                    <table class="table table-book-classes">
                        <tr class="panel-heading">
                            {% if not history %}
                            <th> </th>
                            {% endif %}
                            <th>Date</th>
                            <th>Booking</th>
                            <th>Location</th>
                            <th class="table-center">Status</th>
                        </tr>

                            {% for booking in bookings %}
                                <tr id='booked-{{ booking.event.id }}-row' {% if booking_status_display|lookup:booking.id == 'CANCELLED' %}class='expired'{% endif %}>
                                    {% if not history %}
                                        <td class="table-center">
                                        {% if booking.event.cancelled %}
                                            CLASS CANCELLED
                                        {% elif user.has_outstanding_fees %}
                                            {% if booking.status == 'OPEN' and not booking.no_show %}
                                                <span
                                                    id="book_{{ booking.event.id }}"
                                                    data-event_id="{{ booking.event.id }}"
                                                    data-event_str="{{ booking.event.name }} ({{ booking.event.date|date:'D d b H:i'|title }})"
                                                    data-ref="bookings"
                                                    data-show_warning="{{ booking.event|show_warning }}"
                                                    data-cancellation_fee="{{ booking.event.cancellation_fee }}"
                                                    class="td_ajax_book_btn">
                                                {% include "booking/includes/book_button_toggle.html" %}
                                                </span>
                                            {% else %}
                                                {% include "booking/includes/outstanding_fee_disabled_buttons.html" %}
                                            {% endif %}
                                        {% elif booking|show_booking_button %}
                                            <span
                                                id="book_{{ booking.event.id }}"
                                                data-event_id="{{ booking.event.id }}"
                                                data-event_str="{{ booking.event.name }} ({{ booking.event.date|date:'D d b H:i'|title }})"
                                                data-ref="bookings"
                                                data-show_warning="{{ booking.event|show_warning }}"
                                                data-cancellation_fee="{{ booking.event.cancellation_fee }}"
                                                class="td_ajax_book_btn">
                                            {% include "booking/includes/book_button_toggle.html" %}
                                            </span>
                                        {% else %}
                                            <span
                                                id="waiting_list_button_{{ booking.event.id }}"
                                                data-event_id="{{ booking.event.id }}"
                                                class="td_ajax_waiting_list_btn">
                                            {% include "booking/includes/waiting_list_toggle.html" %}
                                            </span>
                                        {% endif %}
                                        </td>

                                    {% endif %}

                                    <td>{{ booking.event.date |  date:"D d M H:i" }}</td>
                                    <td>{{ booking.event.name }}</td>
                                    <td>{{ booking.event.venue.abbreviation }}</td>
                                    <td class="table-center"><span id="booked-{{ booking.event.id }}-status">{{ booking_status_display|lookup:booking.id  }}</span></td>
                                </tr>
                            {% endfor %}

                    </table>
                    {% include 'booking/includes/pagination.html' %}
                </div>


        </div>
        </div>
    </div>
    {% else %}
        {% if history %}
            <p>You do not have any past bookings.</p>
        {% else %}
            <p>You do not have any upcoming bookings.</p>
        {% endif %}
    {% endif %}

</div>

</div>
{% endblock content %}


{% block extrascripts %}
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type='text/javascript' src="{% static 'booking/js/events_booking_ajax.js' %}"></script>
<script type='text/javascript' src="{% static 'booking/js/toggle_waiting_list_ajax.js' %}"></script>

{% endblock %}