{% extends "website/_base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid row">
    <div class="col-xs-12">
       <div class="panel panel-transparent">
            <div class="panel-heading">
                <h2 class="panel-title">Cancel Booking</h2>
            </div>
       <div class="panel-body">
                <h3>You are about to cancel your booking for <a href="{% url 'booking:event_detail' event.slug %}">{{ event.name }}</a> on {{ event.date | date:"D d F, g:i a" }}</h3>
                <h4>Are you sure?</h4>
                {% if event.can_cancel %}
                    <p>Please note that any payments already made will not be automatically
                    refunded.</p>
                {% else %}
                    {% if not event.allow_booking_cancellation %}
                        <p>This event does not allow cancellation.</p>
                    {% else %}
                        <p>The allowed cancellation period for this booking has passed.</p>
                    {% endif %}
                    <p>A cancellation fee of £{{event.cancellation_fee}} will be incurred for cancelling this booking.</p>
                    <p>
                        If you choose to cancel (or do not show up for the {{ event_type }}), your account will be locked and you will not
                        be able to make any further bookings until the fee has been paid.
                    </p>
                {% endif %}
                <p>For further information on payments/refunds, please contact <a href="mailto:{{ event.contact_email }}?Subject=Enquiry regarding booking for {{ event.name }}" target="_blank">{{ event.contact_email }}</a></p>

            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-danger" type="submit" value="Confirm cancel" />
                <a class="btn btn-warning" href="{% if request.GET.ref == 'cl' %}{% url 'booking:events' %}{% else %}{% url 'booking:bookings' %}{% endif %}">Back</a>
            </form>
        </div>
        </div>
     </div>

</div>

{% endblock content %}