{% extends "website/_base.html" %}
{% load static %}
{% load accounttags bookingtags %}

{% block extrahead %}
{% include 'booking/includes/ajax_head.html' %}
{% endblock %}

{% block title %}
    {% include "website/includes/header.html" with title=title %}
{% endblock %}

{% block content %}

<div id="confirm-dialog"></div>


<section>
    <div class="container mt-20">
        {% include "booking/includes/fees_due_banner.html" %}

        {% if workshops_available_to_book %}</br>
            <a class="btn btn-sunshine tra-sunshine-hover" href="{% url 'booking:workshop_list' %}"><strong class="text-dark">Show Workshops</strong></a>
        {% elif classes_available_to_book %}</br>
            <a class="btn btn-sunshine tra-sunshine-hover" href="{% url 'booking:regular_session_list' %}"><strong class="text-dark">Show Classes</strong></a> 
        {% elif privates_available_to_book %}</br>   
            <a class="btn btn-sunshine tra-sunshine-hover" href="{% url 'booking:private_list' %}"><strong class="text-dark">Show Private Lessons</strong></a>        
        {% endif %}
        </h1>
        
        {% if day and time %}
            <h3>
                Showing options for {{ name }} - {{ day }} {{ time }}<br/>
            </h3>
            <a class="btn btn-sunshine tra-hover-sunshine btn-sm" href="{{ all_events_url }}">
                Show all
            </a>
            <br/><br/>
        {% endif %}

    {% if user.is_authenticated %}
        {% if not user|has_disclaimer %}
            {% if user|has_expired_disclaimer %}
                <p>Your disclaimer has expired or our terms have been updated. Please complete a new one
                    before booking.
                </p>
            {% else %}
                <p>Please complete a disclaimer before booking.</p>
            {% endif %}
                <a class="btn btn-primary" href="{% url 'accounts:disclaimer_form' user.id %}">Complete disclaimer now</a>
        <hr>
        {% endif %}
    {% endif %}

    {% if event_type == "class" %}
        {% include 'website/includes/membership.html' %}  
    {% endif %}

    {% if not day or not time %}
        <form class="filter-row" action="" method="get">
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Show {{ event_type_plural }} by: </strong>
                    </div>
                    <div class="col-sm-2 filter">{{ form.name }}</div>
                    <input type="hidden" name="page" value="{{ request.GET.page }}" />
                    <div class="col-sm-1"><input class="btn btn-sunshine tra-sunshine-hover btn-xs" type="submit" value="Go" /></div>
                </div>
            </form>
            </br>
    {% endif %}

        {% if events %}
        
        {% if location_events|length > 1 %}
        <ul class="nav nav-tabs" id="eventTab" role="tablist">
            {% for location in location_events %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if tab == location.index %}active{% endif %}" id="nav-tab-{{ location.index }}" data-bs-toggle="tab" data-bs-target="#nav-{{ location.index }}" type="button" role="tab" aria-controls="nav-{{ location.index }}" aria-selected={% if tab == location.index %}"true"{% else %}"false"{% endif %}>{{ location.location }}</button>
            </li>
            {% endfor %}
        </ul> 
        {% endif %} 


        <div class="tab-content" id="eventTabContent">
            {% for location in location_events %}
                <div class="tab-pane fade {% if tab == location.index %}show active{% endif %}" id="nav-{{ location.index }}" role="tabpanel" aria-labelledby="nav-tab-{{ location.index }}" tabindex="0">
                    {% if not location.queryset %}
                        <div class="ms-2 mt-2" >No {% if name %}<b><em>{{ name }}</em></b> {% endif %}{{ event_type_plural }} at this location</div>
                    {% else %}
                        {% include 'booking/includes/events_pagination.html' with page_obj=location.queryset tab=location.index %}
                    
                        <div class="panel panel-transparent">
                                <table class="table">
                                    <tr class="table-secondary">
                                        <th scope="col" class="table-center table-book-btn-col"></th>
                                        <th scope="col" class="table-center">Date</th>
                                        <th scope="col" class="table-center">Name</th>
                                        <th scope="col" class="table-center">Venue</th>
                                        <th scope="col" class="table-center">Cost</th>
                                        <th scope="col" class="table-center">Spaces</th>
                                    </tr>
                                    <tbody>
                                    {% for event in location.queryset %}
                                        {% get_booking event user as booking %}

                                        <tr scope="row" id="table-row-event-{{ event.id }}"
                                            class="table-light table-row-transparent {% if event.cancelled %}expired{% elif event.id in booked_events %}table-row-booked{% endif %}">
                                            {% if user.is_authenticated %}
                                                {% if event.id in staff_only_events %}
                                                    <td class="table-center table-book-btn-col">VISIBLE TO STAFF ONLY</td>
                                                {% else %}
                                                    <td class="table-center table-book-btn-col">
                                                        {% if user|has_disclaimer %}
                                                            {% if event.cancelled %}
                                                                CLASS CANCELLED
                                                            {% elif user.has_outstanding_fees %}
                                                                {% include "booking/includes/outstanding_fee_disabled_buttons.html" %}
                                                            {% elif event.bookable or event.id in booked_events %}
                                                                {% if event.members_only and not event|has_available_membership:user and not event.id in booked_events %}
                                                                    <span class="btn btn-sunshine tra-sunshine-hover book_button disabled" disabled=disabled>Members only</span>
                                                                {% else %}
                                                                <span
                                                                    id="book_{{ event.id }}"
                                                                    data-event_id="{{ event.id }}"
                                                                    data-event_str="{{ event.name }} ({{ event.date|date:'D d b H:i'|title }})"
                                                                    data-ref="events"
                                                                    data-show_warning="{{ event|show_warning }}"
                                                                    data-cancellation_fee={{ event.cancellation_fee }}
                                                                    class="td_ajax_book_btn">
                                                                {% include "booking/includes/book_button_toggle.html" %}
                                                                </span>
                                                                {% endif %}
                                                            {% else %}
                                                                <span
                                                                    id="waiting_list_button_{{ event.id }}"
                                                                    data-event_id="{{ event.id }}"
                                                                    class="td_ajax_waiting_list_btn">
                                                                {% include "booking/includes/waiting_list_toggle.html" %}
                                                                </span>
                                                            {% endif %}
                                                        {% else %}
                                                        <em><a href="{% url 'accounts:disclaimer_form' user.id %}">Complete disclaimer</a></em>
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                            {% else %}
                                            <td class="table-center table-book-btn-col">
                                                <a class='btn btn-sunshine tra-sunshine-hover' href="{% url 'account_login' %}?next={{request.get_full_path|urlencode }}">Log in to book</a>
                                            </td>
                                            {% endif %}
                                            <td class="table-center">{{ event.date | date:"D d M H:i" }}</td>
                                            <td class="table-center"><a href="{% url 'booking:event_detail' event.slug %}">{{ event.name }}</a></td>
                                            <td class="table-center">{{ event.venue.abbreviation }}</td>
                                            <td class="table-center">£{{ event.cost }}</td>
                                            <td class="table-center">
                                                {% if event.max_participants %}
                                                    <span id="booking_count_{{ event.id }}"
                                                        class="badge rounded-pill {% if event.spaces_left == 0 or event.cancelled %}badge-dark{% else %}badge-green{% endif%}">
                                                        {{ event.spaces_left }}/{{ event.max_participants }}
                                                    </span>
                                                {% else %}N/A{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                        {% include 'booking/includes/events_pagination.html' with page_obj=location.queryset tab=location.index %}
                        {% endif %}
                </div>
            {% endfor %}
        </div>

        {% else %}
            <p>There are currently no classes available to book.</p>
        {% endif %}

    </div>
</section>

{% endblock content %}


{% block extrascripts %}
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type='text/javascript' src="{% static 'booking/js/events_booking_ajax.js' %}"></script>
<script type='text/javascript' src="{% static 'booking/js/toggle_waiting_list_ajax.js' %}"></script>

{% endblock %}