{% extends "website/_base.html" %}
{% load static %}
{% load accounttags bookingtags %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'booking/vanilla-notify.css' %}">
<script type='text/javascript' src="{% static 'booking/vanilla-notify.min.js' %}"></script>
{% endblock %}

{% block content %}

<div id="confirm-dialog"></div>

        {% include "booking/includes/fees_due_banner.html" %}

        <h1 class="page-header">Book {{ event_type_plural|title }}
        {% if workshops_available_to_book %}</br>
            <a class="btn btn-warning" href="{% url 'booking:workshop_list' %}"><strong class="text-dark">Show Workshops</strong></a>
        {% elif classes_available_to_book %}</br>
            <a class="btn btn-warning" href="{% url 'booking:regular_session_list' %}"><strong class="text-dark">Show Classes</strong></a> 
        {% elif privates_available_to_book %}</br>   
            <a class="btn btn-warning" href="{% url 'booking:private_list' %}"><strong class="text-dark">Show Private Lessons</strong></a>        
        {% endif %}
        </h1>

        {% if day and time %}
            <h3>
                Showing options for {{ name }} - {{ day }} {{ time }}<br/>
            </h3>
            <a class="btn btn-warning table-btn" href="{{ all_events_url }}">
                <span class="text-dark">Show all</span>
            </a>
            <br/><br/>
        {% endif %}

    {% if not user.is_authenticated %}
    <div>
        <p><a class='btn btn-info' href="{% url 'account_login' %}?next={{request.get_full_path|urlencode }}">Log in</a> to book</p>
        <span class="divider"></span>
    </div>
    {% else %}
        {% if not user|has_disclaimer %}
            {% if user|has_expired_disclaimer %}
                <p>Your disclaimer has expired or our terms have been updated. Please complete a new one
                    before booking.
                </p>
            {% else %}
                <p>Please complete a disclaimer before booking.</p>
            {% endif %}
                <a class="btn btn-primary" href="{% url 'accounts:disclaimer_form' user.id %}">Complete disclaimer now</a>
        <span class="divider"></span>
        {% endif %}
    {% endif %}


    {% if not day or not time %}
        <form class="filter-row" action="" method="get">
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Show {{ event_type_plural }} by: </strong>
                    </div>
                    <div class="col-sm-2 filter">{{ form.name }}</div>
                    <div class="col-sm-2 filter">{{ form.venue }}</div>
                    <input type="hidden" name="page" value="{{ request.GET.page }}" />
                    <div class="col-sm-1"><input class="btn btn-warning btn-sm pt-0 pb-0" type="submit" value="Go" /></div>
                </div>
            </form>
            </br>
    {% endif %}

        {% if events %}

        <div class="row">
            <div class="col-sm-12">

                        {% include 'booking/includes/events_pagination.html' %}

                <div class="panel panel-transparent">

                    <div class="table-responsive">
                        <table class="table table-book-classes">
                            <tr class="table-heading">
                                {% if user.is_authenticated %}
                                    <th class="table-center table-book-btn-col"></th>
                                {% endif %}
                                <th class="table-center">Date</th>
                                <th class="table-center">Name</th>
                                <th class="table-center">Venue</th>
                                {% if event_type == "workshop" %}
                                    <th class="table-center">Cost</th>
                                {% endif %}
                                <th class="table-center">Spaces</th>
                            </tr>
                            <tbody>
                            {% for event in events %}
                                {% get_booking event user as booking %}

                                <tr id="table-row-event-{{ event.id }}"
                                    class="table-row-transparent {% if event.cancelled %}expired{% elif event.id in booked_events %}table-row-booked{% endif %}">
                                    {% if user.is_authenticated %}
                                        {% if event.id in staff_only_events %}
                                            <td class="table-center table-book-btn-col">VISIBLE TO STAFF ONLY</td>
                                        {% else %}
                                            <td class="table-center table-book-btn-col">
                                                {% if user|has_disclaimer %}
                                                    {% if event.cancelled %}
                                                        CLASS CANCELLED
                                                    {% elif user.has_outstanding_fees %}
                                                        {% include "booking/includes/outstanding_fee_disabled_buttons.html" %}
                                                    {% elif event.bookable or event.id in booked_events %}
                                                        <span
                                                            id="book_{{ event.id }}"
                                                            data-event_id="{{ event.id }}"
                                                            data-event_str="{{ event.name }} ({{ event.date|date:'D d b H:i'|title }})"
                                                            data-ref="events"
                                                            data-show_warning="{{ event|show_warning }}"
                                                            data-cancellation_fee={{ event.cancellation_fee }}
                                                            class="td_ajax_book_btn">
                                                        {% include "booking/includes/book_button_toggle.html" %}
                                                        </span>
                                                    {% else %}
                                                        <span
                                                            id="waiting_list_button_{{ event.id }}"
                                                            data-event_id="{{ event.id }}"
                                                            class="td_ajax_waiting_list_btn">
                                                        {% include "booking/includes/waiting_list_toggle.html" %}
                                                        </span>
                                                    {% endif %}
                                                {% else %}
                                                <em><a href="{% url 'accounts:disclaimer_form' user.id %}">Complete disclaimer</a></em>
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                    <td class="table-center">{{ event.date | date:"D d M H:i" }}</td>
                                    <td class="table-center"><a href="{% url 'booking:event_detail' event.slug %}">{{ event.name }}</a></td>
                                    <td class="table-center">{{ event.venue.abbreviation }}</td>
                                    {% if event_type == "workshop" %}
                                        <td class="table-center">£{{ event.cost }}</td>
                                    {% endif %}
                                    <td class="table-center">
                                        {% if event.max_participants %}
                                            <span id="booking_count_{{ event.id }}"
                                                class="label label-spaces {% if event.spaces_left == 0 or event.cancelled %}label-default{% else %}label-success{% endif%} label-rounded">
                                                {{ event.spaces_left }}/{{ event.max_participants }}
                                            </span>
                                        {% else %}N/A{% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

                {% include 'booking/includes/events_pagination.html' %}

            </div>
         </div>
        {% else %}
            <p>There are currently no classes available to book.</p>
        {% endif %}


{% endblock content %}


{% block extrascripts %}
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type='text/javascript' src="{% static 'booking/js/events_booking_ajax.js' %}"></script>
<script type='text/javascript' src="{% static 'booking/js/toggle_waiting_list_ajax.js' %}"></script>

{% endblock %}