{% extends "website/_base.html" %}
{% load static %}
{% load accounttags bookingtags %}

{% block extrahead %}
{% include 'booking/includes/ajax_head.html' %}
{% endblock %}

{% block title %}
    {% include "website/includes/header.html" with title=title %}
{% endblock %}

{% block content %}

<div id="confirm-dialog"></div>


<section>
    <div class="container mt-20">
        {% include "booking/includes/fees_due_banner.html" %}

        {% if workshops_available_to_book %}</br>
            <a class="btn btn-sunshine tra-sunshine-hover" href="{% url 'booking:workshop_list' %}"><strong class="text-dark">Show Workshops</strong></a>
        {% elif classes_available_to_book %}</br>
            <a class="btn btn-sunshine tra-sunshine-hover" href="{% url 'booking:regular_session_list' %}"><strong class="text-dark">Show Classes</strong></a> 
        {% elif privates_available_to_book %}</br>   
            <a class="btn btn-sunshine tra-sunshine-hover" href="{% url 'booking:private_list' %}"><strong class="text-dark">Show Private Lessons</strong></a>        
        {% endif %}
        </h1>
        
        {% if day and time %}
            <h3>
                Showing options for {{ name }} - {{ day }} {{ time }}<br/>
            </h3>
            <a class="btn btn-sunshine tra-hover-sunshine btn-sm" href="{{ all_events_url }}">
                Show all
            </a>
            <br/><br/>
        {% endif %}

    {% if user.is_authenticated %}
        {% if not user|has_disclaimer %}
            {% if user|has_expired_disclaimer %}
                <p>Your disclaimer has expired or our terms have been updated. Please complete a new one
                    before booking.
                </p>
            {% else %}
                <p>Please complete a disclaimer before booking.</p>
            {% endif %}
            <a class="btn btn-sunshine tra-sunshine-hover" href="{% url 'accounts:disclaimer_form' user.id %}">Complete disclaimer now</a>
        <hr>
        {% endif %}
    {% endif %}

    {% if event_type == "class" %}
        {% include 'website/includes/membership.html' %}  
    {% endif %}

    {% if not day or not time %}
        <form class="filter-row" action="" method="get">
                <div class="row">
                    <div class="col-12 col-sm">
                        <strong>Show {{ event_type_plural }} by: </strong>
                    </div>
                    <div class="col filter">{{ form.name }}</div>
                    <input type="hidden" name="page" value="{{ request.GET.page }}" />
                    <div class="col"><input class="btn btn-sunshine tra-sunshine-hover btn-xs" type="submit" value="Go" /></div>
                </div>
            </form>
            </br>
    {% endif %}

        {% if events %}
        
        {% if location_events|length > 1 %}
        <ul class="nav nav-tabs" id="eventTab" role="tablist">
            {% for location in location_events %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if tab == location.index %}active{% endif %}" id="nav-tab-{{ location.index }}" data-bs-toggle="tab" data-bs-target="#nav-{{ location.index }}" type="button" role="tab" aria-controls="nav-{{ location.index }}" aria-selected={% if tab == location.index %}"true"{% else %}"false"{% endif %}>{{ location.location }}</button>
            </li>
            {% endfor %}
        </ul> 
        {% endif %} 


        <div class="tab-content" id="eventTabContent">
            {% for location in location_events %}
                <div class="tab-pane fade {% if tab == location.index %}show active{% endif %}" id="nav-{{ location.index }}" role="tabpanel" aria-labelledby="nav-tab-{{ location.index }}" tabindex="0">
                    {% if not location.queryset %}
                        <div class="ms-2 mt-2" >No {% if name %}<b><em>{{ name }}</em></b> {% endif %}{{ event_type_plural }} at this location</div>
                    {% else %}
                        {% include 'booking/includes/events_pagination.html' with page_obj=location.queryset tab=location.index %}
                    
                        <div class="panel panel-transparent" style="background-color: rgba(230,230,230,0.6); overflow-x: scroll;">
                            <ul class="list-group">
                                {% regroup location.queryset by date.date as event_list %}

                                {% for events in event_list %}
                                    <li class="list-group-item list-group-item-secondary">{{ events.grouper|date:"l d M" }}</li>
                                    {% for event in events.list %}
                                        {% get_booking event user as booking %}
                                        {% include "booking/includes/event_row.html" %}
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% include 'booking/includes/events_pagination.html' with page_obj=location.queryset tab=location.index %}
                        {% endif %}
                </div>
            {% endfor %}
        </div>

        {% else %}
            <p>There are currently no classes available to book.</p>
        {% endif %}

    </div>
</section>

{% endblock content %}


{% block extrascripts %}
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type='text/javascript' src="{% static 'booking/js/alerts.js' %}"></script>
{% endblock %}