{% extends 'website/_base.html' %}

{% load static %}

{% block title %}
    {% include "website/includes/header.html" with title="Payment History" %}
{% endblock %}

{% block content %}


<section>

    <div class="container mt-20">

    {% if invoices %}
        <table class="table table-striped">
            <thead>
                <th scope="col">Invoice</th>
                <th scope="col">Amount</th>
                <th scope="col">Date Paid</th>
                <th scope="col">Items</th>
            </thead>
            <tbody>
                {% for invoice in invoices %}
                    <tr scope="row">
                        <td>{{ invoice.invoice_id }}</td>
                        <td>£{{ invoice.amount }}</td>
                        <td>{{ invoice.date_paid|date:"d-M-y H:i" }}</td>
                        <td>
                            <ul>
                                {% for item in invoice.items_dict.values %}
                                <li>{{ item.name }} - {{ item.cost_str }}</li>
                                {% endfor %}
                            </ul>    
                            {% if invoice.total_voucher_code %}<span class="helptext">Voucher applied - {{ invoice.total_voucher_code }}</span>{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No payment transactions to display.</p>
    {% endif %}
    {% include 'booking/includes/pagination.html' %}

    </div>
</section>
{% endblock content %}
{% block extrascripts %}
{% endblock %}