{% extends 'website/email/email_base.html' %}

{% block messagecontent %}
<div style="font-family: sans-serif;">

<p>Dear {{ user_fullname }},</p>
<p>
    Thank you for registering for an account.
</p>
<p>
Please read the following information carefully and drop us an email or contact us on social media if you have any questions.
</p>

<p>
<strong>How to prepare for a Sunshine pole class</strong>

<strong>What's best to wear?</strong>

<ul>
    <li>Bare skin is what allows you to grip the pole, so we recommend fitted shorts and a vest top. (There are alternative options if you do not wish to wear shorts.) Make sure you have something warm to wear until you warm up.</li>
    <li>Class can be done in socks, barefoot or indoor trainers.</li>
    <li>Strictly no jewellery, we recommend leaving all jewellery at home to keep it safe.</li>
</ul>

<strong>What to bring?</strong>
<ul>
    <li>Water bottle.</li>
    <li>Small hand towel/cloth for wiping the pole.</li>
    <li>Kneepads for attending "Poledance" classes.</li>
</ul>

    <strong>Before paying, please be aware of the following.</strong>
<ul>
    <li>Memberships and drop in classes must be booked and paid for online at <a href="https://sunshinefitness.co.uk">sunshinefitness.co.uk</a></li>
    <li>Memberships run for a <strong>calendar month</strong>.  They can be purchased at any time, but will expire at the end of the month.</li>
    <li>All membership classes must be used up by the end of the month and will not be carried over to the following month.</li>
    <li>No refunds will be given.</li>
</ul>

<strong>Arriving at the facility.</strong>
<ul>
    <li>Do not park in front of the blue containers or in front of the big black door marked 1A as other businesses need 24 hour access.</li>
    <li>Our entrance is down the stone walkway and up the stairs.</li>
    <li>Please arrive 5 minutes before your class is due to start and wait until the instructor invites you into the studio.</li>
    <li>If you miss the warm up you will not be permitted to take part in the class for safety reasons.</li>
</ul>

<strong>Come as you are.</strong><br/>
We run a come as you are policy. This means you do not need to shave, lose weight, be stronger or fitter or change in any way to attend these classes.
Pole is for absolutely everyone and we are a safe and inclusive environment for you to be 100% your authentic self.<br/><br/>

<strong>Price List </strong>
    See website for prices and booking:
    <ul>
        <li><a href="https://sunshinefitness.co.uk/booking/memberships">Memberships</a></li>
        <li><a href="https://sunshinefitness.co.uk/booking/classes">Class bookings</a></li>
    </ul>
</p>
</div>
{% endblock %}
