{% extends 'website/email/email_base.html' %}

{% block messagecontent %}
<div style="font-family: sans-serif;">

<p>Payment has been refunded from paypal and payment status set to unpaid.</p>

<p><strong>User: {{ user }}</strong></p>
<p><strong>Booking ref:</strong>{{ obj.booking_reference }} (id {{ obj.id}})</p>
<p><strong>Payment for:</strong> {{ obj.event.name }}</p>
<p><strong>Invoice number:</strong> {{ invoice_id }}</p>
<p><strong>Paypal Transaction id:</strong> {{ paypal_transaction_id }}</p>
<p><strong>Paypal Email:</strong> {{ paypal_email }}</p>

</div>
{% endblock %}