{% extends "admin/base.html" %}
{% load static bootstrap4 %}

{% block extrastyle %}
{{ block.super }}
<link href="{% static 'website/css/admin-extra.css' %}" rel="stylesheet">
{% endblock %}


{% block nav-global %}
    {{ block.super }}
{% endblock %}

{% block footer %}
{{ block.super}}
    {% bootstrap_javascript jquery=True %}
    {% block extra_scripts %}
    {% comment %} <script src="{% static 'booking/js/collapse-admin-menu.js' %}"></script> {% endcomment %}
    {% endblock %}
{% endblock %}