{% extends "admin/index.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link href="{% static 'website/css/admin-extra.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if request.path == "/site-admin/" %}
        <div id="content-main" class="admin-center">
            <h1>Sunshine Fitness Admin</h1>
            {% if request.user.is_superuser %}

            <span class="admin-divider"></span>
            <h2>Accounts</h2>
            <p>List of registered users, completed disclaimers/PARQ and signed data privacy agreements.</p>

            <span class="admin-divider"></span>
            <h2>Policies</h2>
            <p>Set up the Data Privacy Policy, Cookie Policy and Disclaimer Terms (incliding PARQ).</p>
            <p>Cookie and Data Privacy Policies are simple text fields.  Use blank lines to space paragraphs.
            New policy versions are published on save and cannot be amended (create another version if you need to
            update the policy).</p>
            <p> 
            Users will be required to read and accept the terms of the data privacy policy on account sign-up</p>
            <p>
            Disclaimer terms and PARQ versions can be created and saved as draft.  Disclaimer (waiver) terms are 
            a simple text fields.  Use blank lines to space paragraphs.
            </p>
            <p> 
            
            </p>


            <span class="admin-divider"></span>
            <h2>Timetable</h2>
            <p>Enter scheduled weekly classes to appear on the timetable page.</p>
            
            <h3>Setup</h3>
            <p>Some basic setup is required before you can add classes:
            </p>
            <ul>
            <li><strong>Class types:</strong> Each class must have a class type; this is just a name (e.g. Pole Fitness, Stretch etc) and an optional description.
            If you tick the "display session" box, it (name and description) will appear on the home page (name and description).  The "index" is used for ordering 
            on the home page.
            </li>
            <li><strong>Categories:</strong> optionally assigned to a timetable class, and used to colour-code classes on the timetable page, so they can be grouped in some way.  You can make a categories 
            that correspond directly to class types, or use them to group class types - e.g. if there are "Pole Dance" and "Pole Fitness" class types, a 
            "Pole" category could be assigned to both, with a colour code.  All of these classes will be shown in the category 
            colour on the timetable. 
            </li>
            <li><strong>Venue:</strong> Each class must be assigned a venue.  Only the abbreviation is displayed on the timetable/booking pages.</li>
            </ul>
            

             <h3>Upload Timetable</h3>
             <p>Upload timetable sessions as regular classes that will be available to book online.  Select
             required sessions to upload, and start/end dates.  Class names are generated from timetable sessions
                 as "Session Name (Session Level)".  i.e. a session called "Aerial Hoop" with level "Level 1"
                 will be uploaded with the name "Aerial Hoop (Level 1)".
             </p>
             <p>You have the option to upload classes with or without "show on site".  If you untick the box, classes will
             not be immediately available to book, and you can go to the "Book" tab on the website to review and check they
                 look correct (they will be displayed to logged-in staff users only).  You can turn "show on site" on/off
                 for multiple classes at once in the "Classes/Workshops" section of the admin.
             </p>

            <p><strong>IMPORTANT:</strong> the system will check for existing classes by name, date and venue to avoid creating duplicates.
                 If you change any of these fields on a timetable session OR class (or if you change level on a timetable session)
                 and then re-upload for the same dates, you will create duplicate classes.
             </p>
            <span class="admin-divider"></span>

            <h2>Classes/Workshops</h2>
            <p>For online class/workshop booking.</p>
            <p>Classes/Workshops are only displayed on the site if the "show on site" checkbox has been ticked.</p>

            <h3>Regular Classes</h3>
            <p>Generated via the Upload Timetable; can also be added individually.</p>
            <p>Classes are available to book online, but do not take payment.  Reminders will be sent to students
                who book more than 6 hours before the class.  (Sent up to 48 hrs before the class - depending on when they booked - to give them time to cancel within the
            24 hr cancellation period.)</p>

            <h3>Workshops</h3>

            <!-- <p>Payments are via paypal; you can enter any paypal email address here, but make sure you've
            checked it carefully.  Use the "Test paypal email" link to confirm that the site can
            process payments to the email address you've chosen.</p> -->
            <p>
            One-off classes, workshops or events which are not displayed on the timetable pages as regular sessions.
            </p>
            <p>Generate workshops manually.  These are also available to book online and do not take payment.</p>

            <h3>Cancelling classes/workshops</h3>
                <ol>
                    There are 2 ways to cancel a class/workshop:
                    <li>From the class/workshop list, check the box for the class(es) you want to cancel,
                        select "Cancel class..." from the drop down menu, and click Go</li>
                    <li>From within the page for an indiviudal class/workshop, use the "Cancel class" link
                        in the menu on the right hand side of the page.
                    </li>
                </ol>
                <p>Both options will cancel the class and send notification emails to anyone with open bookings.</p>

            <h3>Registers</h3>
            <p>Shows bookings for upcoming classes/workshops; use these to mark students as paid/attended/no-show.  New bookings can
            also be added here.</p>
            <p>This section can be made available to selected users (i.e. non-superuser instructors).</p>

            <h2>Bookings</h2>
            <p>Review online bookings and waiting lists for classes/workshops.</p>

            <!-- <span class="admin-divider"></span> -->

            <!-- <h2>Payments</h2>
            <p>Paypal transaction information.</p>
            <p><strong>Test Paypal Email:</strong> Use this to check a new paypal email before making a
            workshop available for booking.  This sends a payment of £0.01 to the paypal account
            associated with the email you are testing.  You must use a different account to the one being
            tested to to send the payment.  Paypal accounts do not need to be business accounts, but they
            must be verified.</p> -->

            <span class="admin-divider"></span>

            <h2>Activity Log</h2>
            <p>Tracks activity on the site, particularly in relation to bookings.</p>
            {% else %}
            <h3>Registers</h3>
            <p>Shows bookings for upcoming classes/workshops; use these to mark students as paid/attended/no-show.  New bookings can
            also be added here.</p>

            {% endif %}

        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block sidebar %}{% endblock %}

