{% load bootstrap3 %}

{% if form.errors %}
    <div class="errorlist">Please correct the errors below</div>
    {{ form.non_form_errors }}
{% endif %}

   <form class="dirty-check" action="" method="post">
       {% csrf_token %}

   <div class="disclaimer-form">

       <h4>Emergency Contact Information</h4>

       <div class="form-group">
           <label class="control-label" for="id_{{ form.emergency_contact_name.name }}">{{ form.emergency_contact_name.label }}{% if form.emergency_contact_name.field.required %}*{% endif %}</label>
           {{ form.emergency_contact_name }}
           <span class="helptext">{{ form.emergency_contact_name.help_text }}</span>
            {% if form.emergency_contact_name.errors %}
                <span class="errorlist">{{ form.emergency_contact_name.errors }}</span>
            {% endif %}
       </div>

       <div class="form-group">
           <label class="control-label" for="id_{{ form.emergency_contact_phone.name }}">{{ form.emergency_contact_phone.label }}{% if form.emergency_contact_phone.field.required %}*{% endif %}</label>
           {{ form.emergency_contact_phone }}
           <span class="helptext">{{ form.emergency_contact_phone.help_text }}</span>
            {% if form.emergency_contact_phone.errors %}
                <span class="errorlist">{{ form.emergency_contact_phone.errors }}</span>
            {% endif %}
       </div>

       <div class="form-group">
           <label class="control-label" for="id_{{ form.emergency_contact_relationship.name }}">{{ form.emergency_contact_relationship.label }}{% if form.emergency_contact_relationship.field.required %}*{% endif %}</label>
           {{ form.emergency_contact_relationship }}
           <span class="helptext">{{ form.emergency_contact_relationship.help_text }}</span>
            {% if form.emergency_contact_relationship.errors %}
                <span class="errorlist">{{ form.emergency_contact_relationship.errors }}</span>
            {% endif %}
       </div>

       {% if form.has_health_questionnaire %}
       <hr>
           <h4>Health Questionnaire</h4>
           {% for field in form %}
               {% if field.name == "health_questionnaire_responses" %}
                    {{ field }}
               {% endif %}
           {% endfor %}
       {% endif %}

    <hr>
       <h4>Disclaimer</h4>
       {{ form.disclaimer_terms|linebreaks }}
       <div class="form-check form-check-inline mb-2">
           {{ form.terms_accepted }}
           <label class="form-check-label" for="id_{{ form.terms_accepted.name }}">{{ form.terms_accepted.label }}{% if form.terms_accepted.field.required %}*{% endif %}</label>
           <span class="helptext">{{ form.terms_accepted.help_text }}</span>
            {% if form.terms_accepted.errors %}
                <span class="errorlist">{{ form.terms_accepted.errors }}</span>
            {% endif %}
       </div>

       <hr>
       <div class="form-group form-group-inline">
           {{ form.password }}
           <label class="control-label" for="id_{{ form.password.name }}">{{ form.password.label }}{% if form.password.field.required %}*{% endif %}</label>
           <span class="helptext">{{ form.password.help_text }}</span>
            {% if form.password.errors %}
                <br/><span class="errorlist">{{ form.password.errors }}</span>
            {% endif %}
           {% if password_error %}
                <br/><span class="errorlist">{{ password_error }}</span>
            {% endif %}
       </div>

        <div class="col-xs-12"><input class="btn btn-success" type="submit" value="Submit" /></div>
      </div>
   </form>