{% extends 'website/_base.html' %}
{% load accounttags %}

{% load crispy_forms_tags %}

{% block title %}
    {% include "website/includes/header.html" with title="Edit Your Contact Information" %}
{% endblock %}

{% block content %}

<section>

    <div class="container mt-20">

        <p>Your emergency contact will be contacted in the case of an accident or emergency.</p>

        {% if form.errors %}
            <div class="errorlist">Please correct the errors below</div>
        {% endif %}

        <form class="dirty-check form" action="" method="post">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</section>
{% endblock %}
