{% extends 'website/email/email_base.html' %}

{% block messagecontent %}
<div style="font-family: sans-serif;">

<p><strong>The following unpaid bookings have been automatically cancelled.</strong></p>

<ul>
{% for booking in bookings %}
    <li>Workshop: {{ booking.event }}, Student: {{ booking.user.first_name }}
        {{ booking.user.last_name }} ({{ booking.user.username }})</li>
{% endfor %}
</ul>

<p>Students have been sent an email notifying them that their booking has been cancelled.</p>

</div>
{% endblock %}
