{% extends 'website/email/email_base.html' %}

{% block messagecontent %}

<p>Thank you for purchasing a gift voucher.  Your voucher code is {{ gift_voucher.code }}.</p>

<p>To view and print your gift voucher, please go to <a href="{{ host }}{{ gift_voucher.get_voucher_url }}">{{ host }}{{ gift_voucher.get_voucher_url }}</a></p>

<p>To update the recipient name or message on your gift voucher, please go to <a href="{{ host }}{{ gift_voucher.get_voucher_update_url }}">{{ host }}{{ gift_voucher.get_voucher_update_url }}</a></p>

{% endblock %}
