{% extends "admin/base.html" %}
{% load static bootstrap4 %}

{% block extrastyle %}
    {% bootstrap_css %}
    <link href="{% static 'studioadmin/css/studioadmin-custom-v1.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
{% endblock %}


{% block breadcrumbs %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block usertools %}
        <div id="user-tools" class="suit-user-tools">
            {% block welcome-msg %}
                <span class="welcome">
                Welcome,
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            </span>
            {% endblock %}
            <div class="user-links">
            {% block userlinks %}
                <a href="/" class="icon-link view-site-link" data-title="Main site">Main site</a>
                <span class="separator">/</span>

                {% if user.has_usable_password %}
                    <a href="{% url 'account_change_password' %}" class="icon-link change-password-link" data-title="Change password">Change password</a>
                    <span class="separator">/</span>
                {% endif %}
                <a href="{% url 'account_logout' %}" class="icon-link logout-link" data-title="Log out">Log out</a>
            {% endblock %}
            </div>
        </div>

{% endblock %}
{% block nav-global %}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'studioadmin:regular_session_register_list' %}">Carousel Fitness
            <span class="header-label">Admin</span></a>
    </h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="admin-menu">
    {% if future_events.regular_sessions %}
        <span class="{{ regular_session_registers_menu_class }}"><a class="btn btn-primary btn-sm btn-admin-menu" href="{% url 'studioadmin:regular_session_register_list' %}">Class Registers</a></span>
    {% endif %}
    {% if future_events.workshops %}
        <span class="{{ workshop_registers_menu_class }}"><a class="btn btn-primary btn-sm btn-admin-menu" href="{% url 'studioadmin:workshop_register_list' %}">Workshop Registers</a></span>
    {% endif %}
    <span class="{{ cancellation_fees_menu_class }}"><a class="btn btn-primary btn-sm btn-admin-menu" href="{% url 'studioadmin:outstanding_fees' %}">Cancellation Fees</a></span>
    <span class="{{ students_menu_class }}"><a class="btn btn-primary btn-sm btn-admin-menu" href="{% url 'studioadmin:user_list' %}">Students</a></span>
</div>
</div>

    {% block subcontent %}{% endblock %}
{% endblock %}


{% block footer_links %}{% endblock %}

{% block copyright %}{% endblock %}

{% block footer_branding %}{% endblock %}

{% block extra_scripts %}
    {% bootstrap_javascript jquery='full' %}
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type='text/javascript' src="{% static 'studioadmin/js/js-cookie.js' %}"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
    {% block extra_page_js %}{% endblock %}
{% endblock %}
