{% extends "studioadmin/base.html" %}
{% load static %}
{% load tz %}
{% load studioadmintags %}

{% block subcontent %}

    <h2>Waiting List for {{ event }}</h2>
    <p>(Currently {% if event.spaces_left %}not {% endif %} full)

    <div class="row">
        <div class="col-9">

            {% comment %} {% if waiting_list_users %} {% endcomment %}
                    <table class="table">
                        <thead class="table-dark">
                        <tr>
                            <th>User</th>
                            <th>Date joined</th>
                            <th></th>
                        </tr>
                        </thead>

                        {% for wluser in waiting_list_users %}
                        <tr>
                            <td>{{ wluser.user.first_name }} {{ wluser.user.last_name }} ({{ wluser.user.username }})</td>
                            <td >{{ wluser.date_joined|formatted_uk_date:"%d %b %Y %H:%M" }}</td>
                            <td class="table-center studioadmin-tbl">
                                <form class="wl-table-form" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-sm btn-success" type="submit" name="remove_user"
                                            id="remove_user_button" value="{{ wluser.id }}">Remove</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
            {% comment %} {% else %}
                <p>There are no users on the waiting list.</p>
            {% endif %} {% endcomment %}
        </div>
    </div>


{% endblock subcontent %}
