{% extends "studioadmin/base.html" %}
{% load static %}
{% load accounttags studioadmintags email_obfuscator %}

{% block subcontent %}

<div class="container-fluid">
<div class="row header">
    <div class="col-12">
    <h2>Registered Students</h2>

        <form action="" method="get" id="user-search-form">
            Filter by first name<br/>
            {% for opt in filter_options %}
                <input
                        class="btn btn-alph-filter {% if not opt.available %}btn-disabled{% elif active_filter == opt.value %}btn-primary{% else %}btn-unselected{% endif %} "
                        {% if not opt.available %}disabled{% endif %}
                        type="submit"
                        name="filter"
                        value="{{ opt.value }}"
                />
            {% endfor %}
        </form>
        </div><br/>

    </div>

    <div class="row">
        <table class="table table-responsive table-striped" id="sortedUserTable">
            <thead class="thead-dark">
            <tr>
                <th class="table-center">Name</th>
                <th class="table-center">Email</th>
                <th class="table-center">Disclaimer</th>
                <th class="table-center">Cancellation Fees</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td class="table-center studioadmin-tbl">{{ user.first_name|abbr_name }} {{ user.last_name|abbr_name }} ({{ user.username|abbr_username }})</td>
                <td class="table-center studioadmin-tbl">{{ user.email|obfuscate_mailto }}</td>
                <td class="table-center">
                        {% if user|has_disclaimer or user|has_expired_disclaimer %}
                            <a href="{% url 'studioadmin:user_disclaimer' user.id %}" target="_blank">
                                <span id="disclaimer" class="far fa-file-alt"></span>
                            </a>
                            {% if not user|has_disclaimer %}<span class=helptext">(expired)</span>{% endif %}
                        {% else %}
                            <span id="disclaimer" class="fas fa-times"></span>
                        {% endif %}
                </td>
                <td class="table-center">
                    <span class="fees">
                        {% if user.has_outstanding_fees %}
                            <span class="fees-due"><a href="{% url 'studioadmin:user_fees' user.id %}">£{{ user.outstanding_fees_total }} <i class="far fa-arrow-alt-circle-right"></i></a></span>
                        {% else %}
                            -
                        {% endif %}
                    </span>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock subcontent %}

{% block extra_page_js %}
<script>

$(document).ready(function() {
    $('#sortedUserTable').DataTable({
            "lengthChange":     false,
            "responsive": true,
    });
} );

</script>
{% endblock %}