.message-container {
    margin-top: 90px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}

.message {
    padding: 4px;
}

.alert-anon {
    background-color: rgba(255, 204, 1, 0.6);
    border: solid 1px rgba(255, 0, 0, 0.5);
  }

  .alert-anon > div {
    font-weight: bold;
  }

  .alert-anon > div > a {
    color: rgba(255, 0, 0);
  }

  .alert-anon > div > span.fa-sun {
    color: rgba(255, 0, 0);
  }

  details.membership > summary {
    display: block;
  }

  .errorlist {
    list-style: none;
    color: red;
    font-style: italic;
    font-size: small;
    padding-left: 0;
}

  .superceded-cost {
    text-decoration: line-through;
  }

/* tables */

  td.timetable-row {
    padding-top: 3px;
    padding-bottom: 3px;
	vertical-align: middle;
    width: 1%;
    white-space: nowrap;
}

.table-center {
    text-align: center !important;
}

.expired td, .expired td a, .expired td .confirmed, .expired td .not-confirmed ,
.expired .input-sm {
    color: #BDBDBD !important;
}


.help-text {
    font-size: smaller;
    font-style: italic;
}

.panel-booking {
    background-color: rgba(220,220,220, 0.3);
    border: solid 1px #3e3b40;
}


/*Cookie law banner*/
div#CookielawBanner {
    background-color: rgba(255, 0, 0, 0.1);
    padding: 5px;
    font-size: smaller;
    border: solid 1px rgba(255, 0, 0, 0.5);
    margin: 5px;
  }
  
  
  .btn-cookie {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0;
    font-size: small;
  }

  /* data privacy  */
  .dp-box {
    border: 1px solid black !important;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}


form.mock-bs-form > div.form-actions > div > input,
form.mock-bs-form > p > input[type='text'],
  form.mock-bs-form > p > input[type='password'] {
  display: block;
  width: 75%;
  border: 1px solid #ccc;
  color: #555;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  height: 30px;
  line-height: 30px;
  padding: 5px 10px;
}

@media(max-width: 767px) {
  form.mock-bs-form > div.form-actions > div > input,
  form.mock-bs-form > p > input[type='text'],
  form.mock-bs-form > p > input[type='password'] {
     width: 100%;
  }
}


.alert-outstanding-fees {
    color: black;
    background-color: rgba(205, 33, 30, 0.6) ;
    border-color: #ebccd1;
    font-weight: bold;
}
.alert-outstanding-fees > i {
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 1.3em;
}