# {{site}}_uwsgi.ini file
[uwsgi]
plugins         = {{uwsgi_plugin}}

# Django-related settings
# the base directory (full path)
chdir           = {{app_root}}
# Django's wsgi file
module          = {{site}}.wsgi
# the virtualenv (full path)
home            = {{app_root}}/venv
# Local configuration
envdir          = {{ app_root }}/envdir

# process-related settings
# master
master          = true
# maximum number of worker processes
processes       = 2
chmod-socket    = 664
# clear environment on exit
vacuum          = true
