/*GIFT VOUCHERS*/

@font-face { font-family: flaemische-kanzleischrift; src: url(../fonts/FlaemischeKanzleischrift.ttf); }
@font-face { font-family: chopin-script; src: url(../fonts/chopinscript.ttf); }

.voucher-title {
  font-family: flaemische-kanzleischrift;
  font-style: italic;
  font-weight: bold;
  font-size: xx-large;
  padding-bottom: 10px;
}

.voucher-name {
  font-size: large;
}

.voucher-content {
  text-align: left;
  font-size: medium;
}

.voucher-content > p {
  margin-bottom: 5px;
}

.voucher-content-label {
  font-style: italic;
}

.voucher-message {
  font-size: small;
  font-style: italic;
}

.voucher-bg {
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(../images/logo.jpg) no-repeat 50%;
  min-height: 200px;
  background-size: contain;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
}

.voucher-box {
  width:100%;
  max-width: 800px;
  height:auto;
  padding:10px;
}

.voucher-outer-box {
  margin: 20px;
  border: 6px solid #ffcc00
}

.voucher-inner-box {
  width:100%;
  border: 4px solid #ffcc00;
}

hr.voucher-divider {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}