{% load bookingtags %}

{% if alert_message %}
    {% if alert_message.message_type == 'warning' %}
        <script>vNotify.warning({text:'{{ alert_message.message }}',title:'{{ event }}',position: 'bottomLeft',});</script>
    {% elif alert_message.message_type == 'success' %}
        <script>vNotify.success({text:'{{ alert_message.message }}',title:'{{ event }}',position: 'bottomLeft',});</script>
    {% elif alert_message.message_type == 'error' %}
        <script>vNotify.error({text:'{{ alert_message.message }}',title:'{{ event }}',position: 'bottomLeft',});</script>
    {% else %}
        <script>vNotify.info({text:'{{ alert_message.message }}',title:'{{ event }}',position: 'bottomLeft',});</script>
    {% endif %}
{% endif %}

{% if booking %} 
    {% if booking.status == "OPEN" and not booking.no_show %}
        {% if not booking.paid  %}
            <span class="btn table-btn btn-warning book_button">
                View basket <i class="fa fa-shopping-basket"></i>
            </span></a>
        {% else %}
            <span class="btn btn-danger table-btn">Cancel</a>
        {% endif %}
    {% elif booking.event|has_available_membership:request.user %}
        <button class="btn table-btn btn-success book_button">Rebook</button>
    {% else %}
        <button class="btn table-btn btn-warning book_button">Add to basket</button>
    {% endif %}
{% elif event|has_available_membership:request.user %}
    <button class="btn table-btn btn-success book_button">{% if booking %}Rebook{% else %}Book{% endif %}
{% else %}
    <button class="btn table-btn btn-warning book_button {% if event.members_only %}disabled{% endif %}">Add to basket
    {% if event.members_only %}  <span class="label label-primary label-membership">Members only</span>{% endif %}</button>
{% endif %}
