{% load accounttags bookingtags static %}

{% if request.htmx %}
    <span id="cart_item_menu_count_xs" hx-swap-oob="true">{{cart_item_count}}</div>
    <span id="cart_item_menu_count" hx-swap-oob="true">{{cart_item_count }}</span>
{% endif %}

{% book_button_data booking.event user booking "booking" as button_data %}

<li
    id="table-row-event-{{ booking.event.id }}"
    class="list-group-item
        {% if not button_data.can_cancel and not button_data.can_go_to_basket %}
            expired
        {% endif %}">
    <div class="d-flex flex-column flex-sm-row align-items-sm-center gap-2">

        <!-- Button column -->
        {% if not history %}
        <div class="lg-btn-col flex-shrink-0 order-last order-sm-first">
            {% if booking.event.cancelled %}
                <span class="btn btn-xs book-btn text-secondary disabled">CANCELLED</span>
            {% elif user.has_outstanding_fees %}
                {% include "booking/includes/outstanding_fee_disabled_buttons.html" %}
            {% elif button_data.show_book_button %}
                {% include 'booking/includes/book_button.html' %}
            {% else %}
                {% include "booking/includes/waiting_list_toggle.html" %}
            {% endif %}
        </div>
        {% endif %}

        <!-- Info column: grid with time col + content col, 2 rows -->
        <div class="flex-grow-1 row-info-grid">

            <!-- Row 1: time + name -->
            <div class="lg-time-col fw-bold">{{ booking.event.date | date:"H:i" }}</div>
            <div>
                <a href="{% url 'booking:event_detail' booking.event.slug %}">
                    {{ booking.event.name }}
                </a>
            </div>

            <!-- Row 2: empty + venue + status + paid -->
            <div></div>
            <div class="d-flex align-items-center gap-2 gap-md-3">
                <div class="lg-venue-col text-start">{{ booking.event.venue.abbreviation }}</div>
                <div class="lg-cost-col">{% if button_data.can_go_to_basket or button_data.can_cancel %}OPEN{% else %}CANCELLED{% endif %}</div>
                <div>
                    {% if not booking.event.cancelled %}
                        Paid: {% if booking.paid %}
                            {% if booking.membership %}
                                <a href={% url "booking:membership_detail" booking.membership.id %}>
                                    <img src={% static 'booking/images/circle-m.svg' %} />
                                </a>
                            {% else %}
                                <span class="text-success fas fa-check-circle"></span>
                            {% endif %}
                        {% else %}
                            <span class="text-danger fas fa-times-circle"></span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</li>
