{% load bookingtags %}

{% if alert_message %}
    {% if alert_message.message_type == 'warning' %}
        <script>vNotify.warning({text:'{{ alert_message.message }}',title:'{{ event }}',position: 'bottomLeft',});</script>
    {% elif alert_message.message_type == 'success' %}
        <script>vNotify.success({text:'{{ alert_message.message }}',title:'{{ event }}',position: 'bottomLeft',});</script>
    {% elif alert_message.message_type == 'error' %}
        <script>vNotify.error({text:'{{ alert_message.message }}',title:'{{ event }}',position: 'bottomLeft',});</script>
    {% else %}
        <script>vNotify.info({text:'{{ alert_message.message }}',title:'{{ event }}',position: 'bottomLeft',});</script>
    {% endif %}
{% endif %}

{% if booking %} 
    {% if booking.status == "OPEN" and not booking.no_show %}
        {% if not booking.paid  %}
            <span class="btn btn-xs book-btn btn-color-03 tra-cherry-hover">
                View basket <i class="fa fa-shopping-basket"></i>
            </span></a>
        {% else %}
            <span class="btn btn-xs book-btn btn-cherry">Cancel</a>
        {% endif %}
    {% elif booking.event|has_available_membership:request.user %}
        <button class="btn btn-xs book-btn btn-color-01 tra-cherry-hover">Rebook</button>
    {% else %}
        <button class="btn btn-xs book-btn btn-color-02 tra-cherry-hover">Add to basket</button>
    {% endif %}
{% elif event|has_available_membership:request.user %}
    <button class="btn btn-xs book-btn btn-color-01 tra-cherry-hover">{% if booking %}Rebook{% else %}Book{% endif %}
{% else %}
    <button class="btn btn-xs book-btn btn-color-02 tra-cherry-hover {% if event.members_only %}disabled{% endif %}">Add to basket</button>
    {% if event.members_only %} (Members only){% endif %}
{% endif %}
