{% if button_data.show_book_button %}
    <span class="btn book-btn btn-xs btn-sunshine tra-sunshine-hover disabled" id="book_button_disabled">
        {% if button_data.can_go_to_basket %}
            View basket
        {% elif button_data.can_cancel %}
            Cancel
        {% elif button_data.can_rebook %}
            Rebook
        {% elif button_data.can_book %}
            Book
        {% elif button_data.can_add_to_basket %}
            Add to basket
        {% endif %}
    </span>
{% elif button_data.on_waiting_list  %}
    <button class="btn book-btn btn-xs btn-sunshine tra-sunshine-hover disabled" id="leave_waiting_list_button_disabled">Leave waiting list</button>
{% else %}
    <button class="btn book-btn btn-xs btn-sunshine tra-sunshine-hover disabled" id="join_waiting_list_button_disabled">Join waiting list</button>
{% endif %}
